
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: "Montserrat",sans-serif;
  }
  body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    
  }

  #grid-container{
    background-color: white;
    display: grid;
    grid-template-rows: auto ;
    width:34rem;
    border-radius: 1rem;
  }

  #grid-img {
    background-image: url("/images/image-product-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:23rem;
    border-radius: 1rem 1rem 0 0;
  }

  #grid-text{
    margin: 2rem;
  }

  #heading-small{
    font-size: 1.2rem;
    text-transform:uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 0.8rem;
    color: hsl(228, 12%, 48%);
  }

  h1{
    font-size: 3.1rem;
    font-weight: 700;
    font-family: "Fraunces",sans-serif;
    padding-bottom: 5px;
    line-height: 3.5rem;
  }

  #description{
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    line-height: 2rem;
    color: hsl(228, 12%, 48%);
  }
  #price{
    display: grid;
    padding-bottom: 1.5rem;
    grid-template-columns: auto auto;
  }
  #price1{
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces",sans-serif;
  }
  #price2{
    display: inline;
    font-weight: 700;
    font-size: 1.4rem  ;
    text-decoration: line-through;
    padding-right: 6.5rem;
    padding-top: 1.2rem;
    color: hsl(228, 12%, 48%);
  }

  button{
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.6rem;
    padding:1rem;
    padding-bottom: 1em;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }
  #cart{
    width: 10%;
    padding-right: 1em ;
    display: inline;
  }

  #heading-small,#description{
    font-weight: 500;
  }

  .attribution { 
    font-size: 2rem; 
    text-align: center;
    margin: 1rem;
 }

  .attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 1em;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}
  
    .attribution a:hover{
        color: hsl(158, 36%, 37%);;
    }


/*for desktops*/

@media only screen and (min-width: 768px) {
    #grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        width:50rem;
    }

    #grid-img {
        background-image: url("/images/image-product-desktop.jpg");
        height: auto;
        border-radius: 1rem 0 0 1rem;
    }

    #price1{
        font-size: 2.9rem  ;
    }

    #price2{
        padding-left: 1.5rem;
        font-size: 1.2rem;
      }
}
